# Importing Data Using Pandas - Lab

## Introduction

In this lab, you'll get some practice with loading files with summary or metadata, and if you find that easy, the optional "level up" content covers loading data from a corrupted csv file!

## Objectives
You will be able to:
* Import data from csv files and Excel files
* Understand and explain key arguments for imports
* Save information to csv and Excel files
* Access data within a Pandas DataFrame (print() and .head())

##  Loading Files with Summary or Meta Data

Load either of the files Zipcode_Demos.csv or Zipcode_Demos.xlsx. What's going on with this dataset? Clean it up into a useable format and describe the nuances of how the data is currently formatted.

All data files are stored in a folder titled 'Data'.

In [4]:
!pwd

/Users/aaronchen/Projects/dsc0805/Mod01/Section04/dsc-importing-data-using-pandas-lab-seattle-ds-080519

CONTRIBUTING.md Data            LICENSE.md      README.md       index.ipynb

In [7]:
# Your code here - Load the file
import numpy as np
import pandas as pd

raw_zipcode_data = pd.read_csv('./Data/Zipcode_Demos.csv')

In [ ]:
# Your code here - Perform exploratory data analysis

In [11]:
raw_zipcode_data.head()

,0,Average Statistics,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46
0,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,JURISDICTION NAME,10005.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,COUNT PARTICIPANTS,9.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,COUNT FEMALE,4.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,PERCENT FEMALE,0.404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
raw_zipcode_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 47 columns):
0                     57 non-null int64
Average Statistics    56 non-null object
Unnamed: 2            57 non-null object
Unnamed: 3            11 non-null object
Unnamed: 4            11 non-null object
Unnamed: 5            11 non-null object
Unnamed: 6            11 non-null object
Unnamed: 7            11 non-null object
Unnamed: 8            11 non-null object
Unnamed: 9            11 non-null object
Unnamed: 10           11 non-null object
Unnamed: 11           11 non-null object
Unnamed: 12           11 non-null object
Unnamed: 13           11 non-null object
Unnamed: 14           11 non-null object
Unnamed: 15           11 non-null object
Unnamed: 16           11 non-null object
Unnamed: 17           11 non-null object
Unnamed: 18           11 non-null object
Unnamed: 19           11 non-null object
Unnamed: 20           11 non-null object
Unnamed: 21           11 non-null object
Unnamed: 22           11 non-null object
Unnamed: 23           11 non-null object
Unnamed: 24           11 non-null object
Unnamed: 25           11 non-null object
Unnamed: 26           11 non-null object
Unnamed: 27           11 non-null object
Unnamed: 28           11 non-null object
Unnamed: 29           11 non-null object
Unnamed: 30           11 non-null object
Unnamed: 31           11 non-null object
Unnamed: 32           11 non-null object
Unnamed: 33           11 non-null object
Unnamed: 34           11 non-null object
Unnamed: 35           11 non-null object
Unnamed: 36           11 non-null object
Unnamed: 37           11 non-null object
Unnamed: 38           11 non-null object
Unnamed: 39           11 non-null object
Unnamed: 40           11 non-null object
Unnamed: 41           11 non-null object
Unnamed: 42           11 non-null object
Unnamed: 43           11 non-null object
Unnamed: 44           11 non-null object
Unnamed: 45           11 non-null object
Unnamed: 46           11 non-null object
dtypes: int64(1), object(46)
memory usage: 21.0+ KB

In [ ]:
# What is going on with this data set? Anything unusual?

This data set is mostly empty or nan objects.

In [ ]:
# Your code here - Clean up the data set

In [14]:
cleaned_zipcode_data = raw_zipcode_data.loc[~raw_zipcode_data['Unnamed: 3'].isna(), :]
cleaned_zipcode_data.T

,46,47,48,49,50,51,52,53,54,55,56
0,47,48,49,50,51,52,53,54,55,56,57
Average Statistics,JURISDICTION NAME,10001,10002,10003,10004,10005,10006,10007,10009,10010,10011
Unnamed: 2,COUNT PARTICIPANTS,44,35,1,0,2,6,1,2,0,3
Unnamed: 3,COUNT FEMALE,22,19,1,0,2,2,0,0,0,2
Unnamed: 4,PERCENT FEMALE,0.5,0.54,1,0,1,0.33,0,0,0,0.67
Unnamed: 5,COUNT MALE,22,16,0,0,0,4,1,2,0,1
Unnamed: 6,PERCENT MALE,0.5,0.46,0,0,0,0.67,1,1,0,0.33
Unnamed: 7,COUNT GENDER UNKNOWN,0,0,0,0,0,0,0,0,0,0
Unnamed: 8,PERCENT GENDER UNKNOWN,0,0,0,0,0,0,0,0,0,0
Unnamed: 9,COUNT GENDER TOTAL,44,35,1,0,2,6,1,2,0,3
Unnamed: 10,PERCENT GENDER TOTAL,100,100,100,0,100,100,100,100,0,100
Unnamed: 11,COUNT PACIFIC ISLANDER,0,0,0,0,0,0,0,0,0,0
Unnamed: 12,PERCENT PACIFIC ISLANDER,0,0,0,0,0,0,0,0,0,0
Unnamed: 13,COUNT HISPANIC LATINO,16,1,0,0,0,2,0,0,0,1
Unnamed: 14,PERCENT HISPANIC LATINO,0.36,0.03,0,0,0,0.33,0,0,0,0.33
Unnamed: 15,COUNT AMERICAN INDIAN,0,0,0,0,0,0,0,0,0,0
Unnamed: 16,PERCENT AMERICAN INDIAN,0,0,0,0,0,0,0,0,0,0
Unnamed: 17,COUNT ASIAN NON HISPANIC,3,28,1,0,1,0,1,2,0,0
Unnamed: 18,PERCENT ASIAN NON HISPANIC,0.07,0.8,1,0,0.5,0,1,1,0,0
Unnamed: 19,COUNT WHITE NON HISPANIC,1,6,0,0,0,1,0,0,0,0
Unnamed: 20,PERCENT WHITE NON HISPANIC,0.02,0.17,0,0,0,0.17,0,0,0,0
Unnamed: 21,COUNT BLACK NON HISPANIC,21,0,0,0,1,3,0,0,0,1
Unnamed: 22,PERCENT BLACK NON HISPANIC,0.48,0,0,0,0.5,0.5,0,0,0,0.33
Unnamed: 23,COUNT OTHER ETHNICITY,3,0,0,0,0,0,0,0,0,1
Unnamed: 24,PERCENT OTHER ETHNICITY,0.07,0,0,0,0,0,0,0,0,0.33
Unnamed: 25,COUNT ETHNICITY UNKNOWN,0,0,0,0,0,0,0,0,0,0
Unnamed: 26,PERCENT ETHNICITY UNKNOWN,0,0,0,0,0,0,0,0,0,0
Unnamed: 27,COUNT ETHNICITY TOTAL,44,35,1,0,2,6,1,2,0,3
Unnamed: 28,PERCENT ETHNICITY TOTAL,100,100,100,0,100,100,100,100,0,99
Unnamed: 29,COUNT PERMANENT RESIDENT ALIEN,2,2,0,0,1,0,0,0,0,0
Unnamed: 30,PERCENT PERMANENT RESIDENT ALIEN,0.05,0.06,0,0,0.5,0,0,0,0,0
Unnamed: 31,COUNT US CITIZEN,42,33,1,0,1,6,1,2,0,3
Unnamed: 32,PERCENT US CITIZEN,0.95,0.94,1,0,0.5,1,1,1,0,1
Unnamed: 33,COUNT OTHER CITIZEN STATUS,0,0,0,0,0,0,0,0,0,0
Unnamed: 34,PERCENT OTHER CITIZEN STATUS,0,0,0,0,0,0,0,0,0,0
Unnamed: 35,COUNT CITIZEN STATUS UNKNOWN,0,0,0,0,0,0,0,0,0,0
Unnamed: 36,PERCENT CITIZEN STATUS UNKNOWN,0,0,0,0,0,0,0,0,0,0
Unnamed: 37,COUNT CITIZEN STATUS TOTAL,44,35,1,0,2,6,1,2,0,3
Unnamed: 38,PERCENT CITIZEN STATUS TOTAL,100,100,100,0,100,100,100,100,0,100
Unnamed: 39,COUNT RECEIVES PUBLIC ASSISTANCE,20,2,0,0,0,0,1,0,0,0
Unnamed: 40,PERCENT RECEIVES PUBLIC ASSISTANCE,0.45,0.06,0,0,0,0,1,0,0,0
Unnamed: 41,COUNT NRECEIVES PUBLIC ASSISTANCE,24,33,1,0,2,6,0,2,0,3
Unnamed: 42,PERCENT NRECEIVES PUBLIC ASSISTANCE,0.55,0.94,1,0,1,1,0,1,0,1
Unnamed: 43,COUNT PUBLIC ASSISTANCE UNKNOWN,0,0,0,0,0,0,0,0,0,0
Unnamed: 44,PERCENT PUBLIC ASSISTANCE UNKNOWN,0,0,0,0,0,0,0,0,0,0
Unnamed: 45,COUNT PUBLIC ASSISTANCE TOTAL,44,35,1,0,2,6,1,2,0,3
Unnamed: 46,PERCENT PUBLIC ASSISTANCE TOTAL,100,100,100,0,100,100,100,100,0,100

## Level Up (Optional) - Loading Corrupt CSV files

Occasionally, you encounter some really ill formatted data. One example of this can be data that has strings containing commas in a csv file. Under the standard protocol, when this occurs, one is supposed to use quotes to differentiate between the commas denoting fields and commas within those fields themselves. For example, we could have a table like this:  

ReviewerID,Rating,N_reviews,Review,VenueID
123456,4,137,This restaurant was pretty good, we had a great time.,98765

Which should be saved like this if it were a csv (to avoid confusion with the commas in the Review text):
"ReviewerID","Rating","N_reviews","Review","VenueID"
"123456","4","137","This restaurant was pretty good, we had a great time.","98765"

Attempt to import the corrupt file, or at least a small preview of it. It is appropriately titled Yelp_Reviews_corrupt.csv. Investigate some of the intricacies of skipping rows to then pass over this error and comment on what you think is going on.

In [19]:
#Hint: here's a useful programming pattern to use.
try:
    #do something
    corrupt_yelp_data = pd.read_csv('./Data/Yelp_Reviews_Corrupt.csv')
except Exception as e:
    #handle your exception e
    
    corrupt_yelp_data_minus_reviews = pd.read_csv('./Data/Yelp_Reviews_Corrupt.csv', usecols=[
        1, 2, 3, 4, 5, 6,8, 9])

In [20]:
corrupt_yelp_data_minus_reviews.head()

,business_id,cool,date,funny,review_id,stars,useful,user_id
0,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,0,msQe1u7Z_XuqjGoqhB0J5g
1,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,3,msQe1u7Z_XuqjGoqhB0J5g
2,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,0,msQe1u7Z_XuqjGoqhB0J5g
3,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0,pfavA0hr3nyqO61oupj-lA,1,2,msQe1u7Z_XuqjGoqhB0J5g
4,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0,STiFMww2z31siPY7BWNC2g,5,0,TlvV-xJhmh7LCwJYXkV-cg

In [21]:
corrupt_yelp_data = pd.read_csv('./Data/Yelp_Reviews_Corrupt.csv')

ParserError: Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

## Summary

Congratulations, you now practiced your pandas-importing skills!